<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./components/head.ejs") -%>
</head>

<body>

  <main>
      <h1>Galgje</h1>
      <div id="container">
        <section id="game">
          <svg></svg>
          <p id="presentWord"></p>
          <form action="" id="makeWord" autocomplete="off">
            <button><span>New word</span></button>
          </form>
        </section>
        <section id="chat">
          <ul></ul>
          <form>
            <input type="text" autocomplete="off" minlength="1" maxlength="1">
            <button><span>Send</span></button>
          </form>
        </section>
        <section id="keys">
  
        </section>
      </div>
        <p><%- word.word %></p>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>