<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./components/head.ejs") -%>
</head>

<body>
  <header>
    <h1>Galgje</h1>
    <p >Your points: <span id="wincounter"></span></p>
  </header>
  <main>
      <div class="hidden pop" id="winner">
        <button id="cross">
          <div></div>
          <div></div>
        </button>
        <h3>
          Winner! You all get points!
        </h3>
        <p>The word was:<strong><span id="winnerWord"></span></strong></p>
        <p id="definition"></p>
      </div>
      <div id="container">
        <section class="game">
          <img src="/images/hang1.jpg">
          <p id="presentWord"></p>
          <form action="" class="makeWord" autocomplete="off">
            <button><span>New word</span></button>
          </form>
        </section>
        <section id="chat">
          <ul></ul>
          <form>
            <fieldset>
              <input type="text" autocomplete="off" minlength="1">
              <button><span>Send</span></button>
            </fieldset>
          </form>
        </section>
        <section id="keys">
  
        </section>
      </div>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>