/* --- Styling Reset --- */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}
/* --- End Styling Reset --- */

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(139, 0, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  font-family: "Courier New", Courier, monospace;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

#game {
  width: 59vw;
}

#chat {
  width: 39vw;
}

h1 {
  width: 100vw;
  margin: 0.5em 1em;
}

section {
  background-color: #ffffffd6;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

ul {
  padding: 0;
}

li:nth-of-type(even) {
  background-color: #a9a9a957;
}

li {
  list-style: none;
  padding: 0.5em 0;
}

input, form button {
  padding: 0.5em;
  border: 1px solid grey;
}

input {
  border-radius: 1em 0em 0em 1em;
}

form button {
  padding-right: 0.75em;
  margin-left: -0.8em;
  background-color: white;
  border-radius: 0em 1em 1em 0em;
}

#presentWord {
  font-size: 4em;
  margin-bottom: 0.25em;
  text-align: center;
  overflow-wrap: break-word;
}

#presentWord span {
  margin: 0em 0.25em;
}

#makeWord label {
  display: block;
  margin-bottom: 0.5em;
}

ul {
  max-height: 16em;
  overflow: auto;
  margin-bottom: 0.5em;
}

ul li {
  height: 2em;
  background-color: none;
}

