/* --- Styling Reset --- */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}
/* --- End Styling Reset --- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(139, 0, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  font-family: "Courier New", Courier, monospace;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

#container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.5em;
  padding: 0.5em;
  grid-row-gap: 0.5em;
  grid-auto-flow: row;
}

.game button:active, #keys button:active, #chat button:active {
  background-color: grey;
}

.game, #keys {
  width: 59vw;
}

#chat {
  position: relative;
  width: 39vw;
  grid-column: 2;
    grid-row-end: span last-line;
    grid-row-start: 1;
}

#chat form {
    max-width: 30em;
    width: 100%;
    margin: 0em auto;
}

#keys {
  display: block;
    text-align: center;
}

#keys button {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 0.35em;
  width: 4vw;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

h1 {
  width: 70vw;
  margin: 0.5em 1em;
}

section {
  background-color: #ffffffd6;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

li:nth-of-type(even) {
  background-color: #a9a9a957;
}

li {
  list-style: none;
  padding: 0.5em 0;
}

input, form button {
  padding: 0.5em;
  border: 1px solid grey;
}

input {
  border-radius: 1em 0em 0em 1em;
}

form button {
  padding-right: 0.75em;
  margin-left: -0.8em;
  background-color: #fff;
  border-radius: 0em 1em 1em 0em;
}

.makeWord {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.makeWord button {
  border-radius: 1em;
  margin: 0 auto;
}

#presentWord {
  font-size: 4em;
  margin-bottom: 0.25em;
  text-align: center;
  overflow-wrap: break-word;
}

#presentWord span {
  margin: 0em 0.25em;
}

.makeWord label {
  display: block;
  margin-bottom: 0.5em;
}

fieldset {
  border: none;
}

fieldset input {
  width: 89%;
}
fieldset button {
  width: 11%;
}

ul {
  max-height: 25em;
  height: 100%;
  overflow: auto;
  margin-bottom: 0.5em;
}

ul li {
  height: 2em;
  background-color: none;
}



/* --- pop ups --- */
.hidden.pop {
  display: none;
}

  .pop {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #dbf0ff;
  width: 50%;
  padding: 5em;
  border: 1px solid black;
  left: 5.5vw;
  top: 9vh;
}


#cross {
  position: relative;
  width: 2em;
  height: 2em;
  align-self: flex-end;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

#cross div {
  width: 0.25em;
  background-color: #000;
  height: 1em;
  position: absolute;
  transform: rotate(135deg);
}

#cross div:last-of-type {
  width: 0.25em;
  background-color: #000;
  height: 1em;
  position: absolute;
  transform: rotate(45deg);
}

#definition {
  margin-bottom: 1em;
}
/* --- end pop ups --- */